@import "../../theme/ams-style.scss";

.crud-grid-basic {
    max-width: 500px;
    margin-right: 10px;
    margin-top: 2px;
    padding: 10px;
    border: 1px solid #ccc;
    background: white;
}

.crud-item-search {
    @extend .ams_focus;
}